* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    /* background-color: #fff; */
}

/* Header Rules */
nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    /* background-color: aqua; */
}

    .menu {
        /* DEBUG */
        width: 30%;
        height: 100%;
        /* border: 1px dashed black; */
        /* background-color: blue; */
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }
        
        #logo {
            width: 30%;
            padding-top: 18px;
            padding-left: 10px;
        }

            #logo img {
                max-width: 80%;
            }
        
        .list {
            width: 70%;
            list-style-type: none;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

            .list a {
                text-decoration: none;
                color: #4f4f52;
            }

        .button {
            background-color: #1222ff;
            height: 50%;
            width: 15%;
            margin-top: 13px;
            margin-right: 15px;
            padding: 5px;
            padding-left: 18px;
        }

            .button a {
                text-decoration: none;
                color: #fff;
            }

#jumbotron {
    /* DEBUG */
    background-color: #9bc4e8;
    height: 600px;
}

    .container {
        /* DEBUG */
        width: 60%;
        height: 100%;
        /* background-color: darkcyan; */
        /* border: 1px dashed #fff; */
        margin: 0 auto;
        padding-top: 8%;
    }

        #jumbo-title {
            font-size: 55px;
            font-weight: 800;
        }

        .row {
            margin-top: 5%;
            display: flex;
            flex-wrap: wrap;
        }

            .col {
                width: 40%;
            }

                .jumbo {
                    width: 60%;
                    height: 10%;
                    text-align: center;
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
            
            .img {
                width: 60%;
            }

                .img img {
                    max-width: 100%;
                    box-shadow: 1px #black;
                }

            #arrow {
                margin-top: 20%;
            }    
                
                #arrow a {
                    text-decoration: none;
                    color: #000;
                    font-size: 40px;
                }    

/* Main Rules */
.center {
    /* DEBUG */
    width: 50%;
    min-height: 700px;
    margin: 0 auto;
    background-color: darkred;
    border: 1px solid black;
}

#customers {
    /* DEBUG */
    width: 100%;
    min-height: 300px;
    background-color: blueviolet;
    border: 1px solid violet;
}

#free {
    /* DEBUG */
    width: 100%;
    min-height: 200px;
    background-color: navajowhite;
    border: 1px solid darkmagenta;
}

#faq {
    /* DEBUG */
    width: 100%;
    min-height: 300px;
    background-color: lawngreen;
    border: 1px solid seagreen;
}

/* Footer Rules */
footer {
    /* DEBUG */
    height: 300px;
    background-color: black;
    border: 1px dashed #fff;
}

    footer section {
        display: flex;
        /* DEBUG */
        width: 70%;
        height: 100%;
        margin: 0 auto;
        background-color: gray;
        border: 1px solid aqua;
    } 

        #bot div {
            /* DEBUG */
            width: calc(100% / 5);
            height: 70%;
            border: 1px dashed khaki;
        }    